* {
    box-sizing: border-box;

    font-family: sans-serif;
}
.container {
    width: 1170px;
    margin: 20px auto;
}
 .menu__inner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    background-color: rgb(5, 5, 77);
    padding: 30px 0px;
}
.tab {
    padding: 0;
    margin: auto;
}
.el {
    padding: 10px 40px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}
.el-2 {
    text-align: center;
    color: orange;
    font-size: 30px;
    letter-spacing: 7px;
}
/*.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}
.nav li a {
    text-transform: uppercase;
    color: #999;
    text-decoration: none;
    padding: 10px 15px;
}
.nav li a:hover {
    background-color: #ffc744;
    color: white;
    border-radius: 5px;
} */
